[Unit]
Description=Kedai Kopi RPP02N Local Print Bridge Service
After=network.target bluetooth.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/ahadi/Kerja/Projek/kedai-kopi/print-bridge
ExecStartPre=/bin/bash /home/ahadi/Kerja/Projek/kedai-kopi/print-bridge/rfcomm-bind.sh
ExecStart=/usr/bin/node /home/ahadi/Kerja/Projek/kedai-kopi/print-bridge/server.js
Restart=always
RestartSec=5
Environment=PORT=5000
Environment=PRINTER_DEVICE_PATH=/dev/rfcomm0

[Install]
WantedBy=multi-user.target
